.social {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    display: block;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }
}