mixin social(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  .social(class=allMods)&attributes(attributes)
    ul.social__list
      li.social__item
        a.social__link(href='https://wa.me/74954241258')
          +svg-icon('whatsapp', 12, 12)
          span WhatsApp
      li.social__item
        a.social__link(href='viber://chat?number=%2B4954241258')
          +svg-icon('viber', 12, 12)
          span Viber