mixin modal()

  .b-modal.modal.fade(id='getCalls', tabindex='-1', aria-labelledby='getCallsLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content.b-modal__content
        h5.b-modal__title Обратная связь
        button.close.b-modal__close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        .b-modal__form
          +field-text({
            title: 'Имя',
            mods: '',
            val: '',
            attrs: {
              name: 'name',
              placeholder: 'Имя'
            }
          }).b-modal__field
          +field-text({
            title: 'Телефон',
            mods: '',
            val: '',
            attrs: {
              name: 'name',
              placeholder: '+7 (931) 321-42-43'
            }
          }).b-modal__field
          +field-actions().b-modal__actions
            +btn('Отправить')