.b-modal {

  &__content {
    padding: 1rem;

    @media only screen and (min-width: $screen-xs) {
      padding: 1.5rem;
    }
  }

  &__title {
    @include section-title;
  }

  &__field {
    margin-bottom: 0.75rem;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__actions {
    margin-top: 1.5rem;
  }
}