.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;

  th,
  td {
    vertical-align: top;
    border-bottom: 1px solid $border-color;
    word-break: normal;
    padding: 0.5rem;

    &:first-child {
      padding-left: 0;
    }

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    text-align: inherit;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
  }

  td {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
  }
}