mixin field-actions(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-actions--' + modsList[i].trim();
      }
    }

  .field-actions(class=allMods)&attributes(attributes)

    if (typeof(text) !== 'undefined' && text)
      .field-actions__text!= text

    block
