$modularscale: (
  base: 1em,
  ratio: 1.414
);

@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.page {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-size: 20px;
  line-height: 1.5em;

  body {
    font-size: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}