.page-header {

  &__top {
    background-color: $primary-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    font-variant-numeric: lining-nums;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__address {
    color: #fff;

    svg {
      display: inline-block;
      margin-right: 0.75rem;
    }
  }

  &__contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: none;
          color: #fff;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.75rem;
          transform: translateY(-1px);
        }
      }
    }
  }

  &__middle {
    border-bottom: 1px solid $border-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__intro {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  &__logo {
    margin-right: 0.75rem;

    img {
      display: block;
      width: 60px;
      height: 60px;
    }
  }

  &__slogan {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;

    @media only screen and (max-width: ($screen-xs - 1)) {
      display: none;
    }
  }

  &__bottom {
    border-bottom: 1px solid $border-color;
  }

  &__nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    flex-flow: row wrap;

    @media only screen and (min-width: $screen-sm) {
      width: 100%;
      justify-content: space-between;
    }

    > li {
      margin-right: 1.5rem;

      @media only screen and (max-width: 374px) {

        &:not(:nth-child(-n+2)) {
          display: none;
        }
      }

      @media only screen and (max-width: ($screen-sm - 1)) {

        &:not(:nth-child(-n+3)) {
          display: none;
        }
      }

      @media only screen and (min-width: $screen-sm) {
        margin-right: 0;
      }

      > a {
        display: block;
        color: $text-color;
        text-align: center;
        padding: 1rem 0;
        text-decoration: none;
        font-size: 0.6rem;
        line-height: 1.4em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.075em;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $accent-color;
        }
      }

      > ul {
        padding: 0.25rem 1.25rem;
        margin: 0;
        list-style: none;
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: #fff;
        color: $text-color;
        font-size: ms(-1);
        line-height: 1.4em;
        font-weight: 600;
        min-width: 10rem;
        max-width: 15rem;
        left: 0;
        top: 100%;
        line-height: 1.4em;
        white-space: nowrap;
        z-index: 1000;
        border-radius: $border-radius;
        box-shadow:
          0 15px 30px -10px rgba($text-color, 0.1),
          0 10px 20px -15px rgba(0, 0, 0, 0.3);

        > li {
          margin: 0;
          padding: 0;

          &:not(:last-child) {
            border-bottom: 1px solid $border-color;
          }

          &::before {
            display: none;
          }

          > a {
            display: block;
            color: currentColor;
            padding: 0.75rem 0;
            text-decoration: none;

            &:hover,
            &:focus {
              color: $accent-color;
              text-decoration: none;
            }
          }
        }

        @media only screen and (min-width: $screen-md) {

          &:hover,
          &:focus-within {
            visibility: visible;
            opacity: 1;
            display: block;
          }
        }
      }

      @media only screen and (min-width: $screen-md) {

        &:hover,
        &:focus-within {

          >a {
            color: $accent-color;
          }

          >ul {

            @media (min-width: $screen-md) {
              visibility: visible;
              opacity: 1;
              display: block;
            }
          }
        }
      }
    }
  }

  &__hamburger {
    margin-left: auto;

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}
