mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__top
      .container
        .row.justify-content-between.align-items-center
          .col-auto
            address.page-header__address
              +svg-icon('location', 12, 12)
              span Москва, пер. Столовый, д. 11
          .col-auto
            ul.page-header__contact-list
              li
                a(href='tel:+74954241258')
                  +svg-icon('phone', 12, 12)
                  span +7 (495) 424-12-58
              li
                a(href='mailto:info@sgillo.ru')
                  +svg-icon('email', 12, 12)
                  span info@sgillo.ru
    .page-header__middle
      .container
        .row.justify-content-between.align-items-center
          .col-auto
            .page-header__intro
              a.logo(href='index.html').page-header__logo
                img(src='img/logo.jpg', alt='', width='30', height='30')
              strong.page-header__slogan Печати и штампы
          .col-auto
            +btn('Заказать звонок')(type='button', data-toggle='modal', data-target='#getCalls').page-header__get-a-call-btn
    .page-header__bottom
      .container
        .page-header__nav
          ul.page-header__nav-list
            li
              a(href='inner.html') Печати
              ul
                li: a(href='/') Для ИП
                li: a(href='/') Для ООО
                li: a(href='/') Круглые
                li: a(href='/') Для врачей
            li: a(href='/') По оттиску
            li: a(href='/') Штампы
            li: a(href='/') Ручные и карманные
            li: a(href='payment-and-delivery.html') Доставка и оплата
            li: a(href='contacts.html') Контакты
          +mobile-menu
          +hamburger().page-header__hamburger
