mixin mobile-menu()

  .mobile-menu
    span.mobile-menu__title Sigillo
    button.mobile-menu__close
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 14 14', width='14', height='14')
        path(d='M13.8131.212998L13.8074.20621l-.0062-.006251c-.2656-.2666119-.6739-.2666119-.9395 0L7.00036 6.08211 1.16991.199959c-.265667-.2666119-.673883-.2666119-.939549 0-.2649773.265919-.2648443.673698 0 .939691L6.06204 7.02304.198783 12.8762c-.2650439.266-.2650439.6737 0 .9397.144131.1446.328924.1841.485565.1841.156641 0 .341432-.0395.485562-.1841L13.8012 1.13965c.1241-.12451.1751-.297783.1751-.457963 0-.161434-.0513-.333927-.1632-.468689zM9.0407 9.07332c.26557-.2665.67357-.26661.93924-.0003l3.82126 3.80318c.2651.266.2651.6737 0 .9397-.1441.1446-.3289.1841-.4855.1841-.1567 0-.3415-.0395-.4856-.1841L9.0407 10.013c-.26504-.26597-.26504-.67369 0-.93968z')
    .mobile-menu__inner
      ul.mobile-menu__list.mobile-menu__list--stamps
        li: a(href='/') Печати
        li: a(href='/') Для ИП
        li: a(href='/') Для ООО
        li: a(href='/') Круглые
        li: a(href='/') Для врачей
      ul.mobile-menu__list.mobile-menu__list--nav
        li: a(href='/') По оттиску
        li: a(href='/') Штампы
        li: a(href='/') Ручные и карманные
        li: a(href='/') Доставка и оплата
        li: a(href='/') Контакты
      ul.mobile-menu__list.mobile-menu__list--contacts
        li: span Москва, пер. Столовый, д. 11
        li: a(href='tel:+74954241258') +7 (495) 424-12-58
        li: a(href='mailto:info@sgillo.ru') info@sgillo.ru
      ul.mobile-menu__list.mobile-menu__list--social
        li
          a(href='/')
            +svg-icon('whatsapp', 12, 12)
            | WhatsApp
        li
          a(href='/')
            +svg-icon('viber', 12, 12)
            | Viber