.mobile-menu {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  top: 0;
  right: 0;
  width: calc(100% - 1rem);
  box-shadow:
    0 30px 60px -12px rgba($text-color, 0.15),
    0 18px 36px -18px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 3rem 1rem 1.5rem 1rem;
  pointer-events: none;
  opacity: 0;
  transform: scale(.95);
  transform-origin: 100% 0;
  transition: 0.25s ease-out;
  overflow-y: scroll;

  @media only screen and (min-width: $screen-sm) {
    width: 100%;
    max-width: 20rem;
  }

  &__title {
    color: $primary-color;
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &::before {
      position: absolute;
      content: '';
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }

    svg {
      display: block;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 600;
      color: $text-color;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a,
      span {
        display: inline-block;
        color: currentColor;
      }

      a {
        text-decoration: none;
      }
    }

    &--contacts {
      border-top: 1px solid $border-color;
      padding-top: 0.75rem;
    }

    &--social {

      svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.25rem;
      }
    }
  }

  &--is-active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}