.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-radius: $border-radius;
  border: 0;
  padding: 0.75rem 1.25rem;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: ms(-1);
  font-family: inherit;
  line-height: 1.4em;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  background-color: $accent-color;
  background-image: none;
  cursor: pointer;
  overflow: hidden;

  @media only screen and (max-width: ($screen-xs - 1)) {
    width: 100%;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 10px 20px rgba(darken($accent-color, 40%), 0.125);
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}