.seo {
  @include section-padding;

  &__title {
    @include section-title;
  }

  &__text {
    font-size: ms(-1);
    line-height: 1.5em;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(0);
    }
  }
}