.field-text {
  display: block;

  &__name {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1.4em;
    font-weight: 600;
    font-size: .70721em;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-height: 60px;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1rem 1.5rem;
    line-height: 1.4em;
    font-size: .70721em;
    font-family: inherit;
    background-color: $bg-color;
    -moz-appearance: textfield;
    appearance: textfield;

    &[disabled],
    &[readonly] {
      cursor: not-allowed;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &[type='color'] {
      padding: 0;
    }

    &::placeholder {
      opacity: 1;
    }
  }
}