include mixins.pug

doctype html
html(class='no-js page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(href='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css', rel='stylesheet')
      link(href='https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap', rel='stylesheet')
      link(href='css/style.css', rel='stylesheet')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    include ./../blocks/sprite-svg/img/sprite.svg

    .page__inner
      .page__content
        block header
          +page-header

        block content
          p Page Content

      .page__footer-wrapper
        block footer
          +page-footer
          +modal()

    block page-bottom
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/jquery-migrate@3/dist/jquery-migrate.min.js')
      script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js')
      script(src='https://cdn.jsdelivr.net/npm/svg4everybody@2/dist/svg4everybody.min.js')
      script(src='https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js')
      script(src='js/script.js')
