include ../blocks/advantages/advantages.pug
include ../blocks/btn/btn.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-file/field-file.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-text/field-text.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/logo/logo.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/modal/modal.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/product-card/product-card.pug
include ../blocks/seo/seo.pug
include ../blocks/social/social.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/table/table.pug
