.field-radio {
  $block-name: &;
  display: block;

  &__title {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1.4em;
    font-weight: 600;
    font-size: .70721em;
  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
      border-top: 1px solid $border-color;
      padding-top: 1rem;
    }
  }

  &__name {
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
    padding-left: 2rem;
    cursor: pointer;
  }

  &__name-text {
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    line-height: 1.4em;
    font-size: .70721em;

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid currentColor;
      border-radius: 20px;
      transition: 0.125s $transition-timing--linear;

      @at-root input:checked~& {
        border: 1px solid $accent-color;
      }
    }

    @at-root input:checked~& {
      opacity: 1;
    }

    @at-root input:focus~&:before {
      outline: 0;
      box-shadow: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      width: 14px;
      height: 14px;
      opacity: 0;
      border-radius: 50%;
      background-color: $accent-color;
      transition: 0.125s $transition-timing--linear;

      @at-root input:checked~& {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}