mixin field-radio(radiobuttons, title)

  .field-radio&attributes(attributes)

    if (typeof(title) !== 'undefined' && title)
      .field-radio__title!= title

    each checkbox in radiobuttons
      -
        var allMods = '';
        if (typeof(checkbox.mods) !== 'undefined' && checkbox.mods) {
          var modsList = checkbox.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' field-radio__input-wrap--' + modsList[i].trim();
          }
        }

      .field-radio__input-wrap(class=allMods)
        label.field-radio__name
          input.field-radio__input(type='radio')&attributes(checkbox.attrs)
          span.field-radio__name-text!= checkbox.title