.work-examples {
  @include section-padding;

  &__title {
    @include section-title;
  }

  &__thumb {
    position: relative;
    display: block;

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-bottom: 30px;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}