extends ../pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block content
  section.contacts
    .container
      .row
        .col-12.col-md-6
          h1.contacts__title Контакты
          ul.contacts__list.row
            li.contacts__item.col-12
              h2.contacts__subtitle Адрес
              address.contacts__address Москвовская обл, Одинцовский раон, д. Малые Вязом, Петровский пр-д, владение 5, стр 2, оф. 222, БЦ Мадекс
            li.contacts__item.col-12.col-sm-6
              h2.contacts__subtitle Телефон
              a.contacts__link(href='tel:+79851750123') +7 985 175 01 23
            li.contacts__item.col-12.col-sm-6
              h2.contacts__subtitle Мессенджеры
              +social()
            li.contacts__item.col-12
              h2.contacts__subtitle E-mail
              a.contacts__link(href='mailto:info@sgillo.ru') info@sgillo.ru
            li.contacts__item.col-12
              h2.contacts__subtitle Проложить маршрут
              ul.contacts__route-list
                li.contacts__route-item
                  a.contacts__route-link(href='https://www.google.com/maps/dir//Petrovskiy+Proyezd,+Malyye+Vyazomy,+143050/@55.6337775,37.0119432,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x46b558f8e0ed45cb:0xdf146f06df8e61f4!2m2!1d37.020698!2d55.6337657', target='_blank')
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 30 30', width='30', height='30')
                      path(fill='#1C9957', d='M27.2093 27.7178V5.05548c0-1.25115-1.0156-2.26623-2.2674-2.26623H2.26744C1.01563 2.78925 0 3.80433 0 5.05548V27.7178c0 1.2512 1.01563 2.2662 2.26744 2.2662H24.9419c1.2518 0 2.2674-1.015 2.2674-2.2662z')
                      path(fill='#3E7BF1', d='M2.1783 29.9841h22.1545c1.2232 0-11.0772-11.8542-11.0772-11.8542S.955183 29.9841 2.1783 29.9841z')
                      path(fill='#CBCCC9', d='M27.2091 27.8066V5.66385c0-1.22246-11.8605 11.07135-11.8605 11.07135S27.2091 29.029 27.2091 27.8066z')
                      path(fill='#EFEFEF', d='M24.3089 29.984c1.6003.1246 2.674-.4687 2.9009-2.0919l-.5746-.4061-11.6927-11.448-2.3839 2.3826L24.1282 29.984h.1807z')
                      path(fill='#FFD73D', d='M27.2093 5.05548c0-1.25115-1.0156-2.26623-2.2674-2.26623h-.186L0 27.5319v.1859c0 1.2512 1.01563 2.2662 2.26744 2.2662h.186L27.2093 5.24138v-.1859z')
                      path(fill='#FB5449', d='M22.3258 0c-4.2389 0-7.6744 3.32291-7.6744 7.4229 0 5.0568 5.8817 6.901 7.1618 14.7356.0839.5045.0899.8525.5126.8525.4227 0 .4287-.348.5126-.8525 1.2801-7.8346 7.1618-9.6788 7.1618-14.7356C30.0002 3.32291 26.5647 0 22.3258 0z')
                      path(fill='#A12C26', d='M25.1161 7.67031c0 1.54092-1.249 2.78919-2.7907 2.78919-1.5418 0-2.7907-1.24827-2.7907-2.78919 0-1.54091 1.2489-2.78921 2.7907-2.78921 1.5417 0 2.7907 1.2483 2.7907 2.78921z')
                      path(fill='#fff', d='M6.35944 7.63073v1.59865h2.32424c-.30606.96872-1.13031 1.66102-2.32424 1.66102-1.42121 0-2.57273-1.12913-2.57273-2.52275 0-1.39658 1.15152-2.52574 2.57273-2.52574.63939 0 1.22424.23178 1.67272.60915l1.2-1.1767c-.75757-.67749-1.76363-1.09052-2.87272-1.09052-2.35758 0-4.26667 1.87499-4.26667 4.18381 0 2.30885 1.90909 4.18385 4.26667 4.18385 3.73336 0 4.37276-3.2835 4.02116-4.91483l-4.02116-.00594z')
                li.contacts__route-item
                  a.contacts__route-link(href='https://yandex.ru/navi/?whatshere%5Bpoint%5D=37.020399%2C55.631976&whatshere%5Bzoom%5D=18&lang=ru&from=navi', target='_blank')
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 30 30', width='30', height='30')
                      g(clip-path='url(#clip0)')
                        path(fill='url(#paint0_linear)', d='M29.999-.00048828L-.00097656 12.1913 13.1269 16.8792l4.6879 13.1203L29.999-.00048828z')
                        path(fill='#FC0', d='M29.9989-.00048828L12.6587 17.3473l5.156 12.6522L29.9989-.00048828z')
                        path(fill='#ECA704', d='M12.1908 17.8153l5.624 12.1842-1.8797-15.936-15.93607656-1.8722L12.1908 17.8153z')
                      defs
                        lineargradient#paint0_linear(x1='-.00085407', x2='30.0004', y1='29.9989', y2='-.00233104', gradientunits='userSpaceOnUse')
                          stop(stop-color='#FC0')
                          stop(offset='1', stop-color='#FFE992')
                        clippath#clip0
                          path(fill='#fff', d='M0 0h30v30H0z')


        .col-12.col-md-6
          .contacts__cover
            img(src='https://images.unsplash.com/photo-1565891741441-64926e441838?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80', alt='')

  .map(id='map')


block page-bottom
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/jquery-migrate@3/dist/jquery-migrate.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js')
  script(src='https://cdn.jsdelivr.net/npm/svg4everybody@2/dist/svg4everybody.min.js')
  script(src='https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js')
  script(src='js/script.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtNjPbrhp4TRuUYYrjCWy5WS8QMJ1be2A&callback=initMap&libraries=&v=weekly', defer='')

  script.

    function initMap() {
      const officeLocation = { lat: 55.631976, lng: 37.020399 };
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: officeLocation,
      });
      const marker = new google.maps.Marker({
        position: officeLocation,
        map: map,
      });
    }