extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block prepend head
  link(href='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/css/lightgallery.min.css', rel='stylesheet')

block content
  section.promo
    .container
      .row.align-items-center
        .col-12.col-md-6.order-md-2
          img(src='img/promo-cover.jpg', alt='')
        .col-12.col-md-6.order-md-1
          .promo__info
            h1.promo__title The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus
            ul.promo__list
              li Отрисовка любой сложности
              li Доставим до любого адреса
              li Любая форма оплаты
              li Гарантия 1 год
              li Прием заказа онлайн круглосуточно
            +btn('Подробнее')

  .advantages
    .container
      .row
        .col-12.col-md-4
          figure.advantages__item
            .advantages__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 56 41', width='56', height='41')
                path(d='M50.4148 4.93026c-.3477-.38426-.9349-.40828-1.3118-.05246-.3762.35519-.3997.95496-.0513 1.33985 3.0735 3.39639 4.8537 7.74965 5.069 12.34685h-1.9213c-.5123 0-.9282.4241-.9282.948s.4159.948.9282.948h1.9207C53.6486 30.51 45.7294 38.5984 35.8895 39.08v-1.9618c0-.5233-.4158-.948-.9282-.948-.5123 0-.9282.4247-.9282.948V39.08c-9.8399-.4816-17.7591-8.57-18.2306-18.6201h1.9213c.513 0 .9282-.4241.9282-.948 0-.524-.4152-.948-.9282-.948H15.813c.3447-7.1562 4.55-13.66461 10.9278-16.75954.4634-.22436.6602-.79.4399-1.263372-.2196-.4733715-.7735-.673085-1.2369-.4493556C18.6415 3.63528 13.9227 11.2585 13.9227 19.5119 13.9227 31.3607 23.3604 41 34.9613 41 46.5623 41 56 31.3607 56 19.5119c0-5.4233-1.9838-10.60128-5.5852-14.58164z')
                path(d='M34.2262 16.6868L24.1258 6.37125c-.3626-.37036-.9499-.37036-1.3125 0-.3626.36972-.3626.97075 0 1.34048l9.848 10.05837c-.3552.4879-.573 1.087-.573 1.7424 0 1.6205 1.2858 2.9344 2.873 2.9344 1.5872 0 2.873-1.3133 2.873-2.9344 0-.4633-.1151-.8955-.3013-1.2855l8.1401-8.31464c.3626-.36972.3626-.97075 0-1.34048-.3626-.37035-.9498-.37035-1.3125 0l-8.1407 8.31402c-.3818-.1915-.805-.3084-1.2586-.3084-.2555 0-.4993.0455-.7351.1093zM4.0221 12.5598h6.1878c.513 0 .9282-.4241.9282-.948 0-.524-.4152-.9481-.9282-.9481H4.0221c-.51297 0-.92818.4241-.92818.9481 0 .5239.41521.948.92818.948zM11.7569 18.5638H.928177c-.512973 0-.928177.4241-.928177.948s.415204.948.928177.948H11.7569c.513 0 .9282-.4241.9282-.948s-.4152-.948-.9282-.948zM10.2099 26.4639H4.0221c-.51297 0-.92818.4247-.92818.948 0 .5233.41521.948.92818.948h6.1878c.513 0 .9282-.4247.9282-.948 0-.5233-.4152-.948-.9282-.948z')
            figcaption.advantages__item-caption
              h3.advantages__item-title Доставим до любого адреса
        .col-12.col-md-4
          figure.advantages__item
            .advantages__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 43 45', width='43', height='45')
                path(d='M38.3261 43.125H4.67392c-.516 0-.93478.4191-.93478.9375S4.15792 45 4.67392 45H38.3261c.5169 0 .9348-.4191.9348-.9375s-.4179-.9375-.9348-.9375zM36.4565 28.125H26.1739V18.06c.1907-.3309.3683-.6113.53-.8681.8554-1.3528 1.3396-2.2528 1.3396-5.0044 0-1.0659.057-2.0962.1103-3.09375.1673-3.045.3103-5.67375-1.3106-7.39125C25.7626.556875 24.0136 0 21.5 0c-2.5136 0-4.2617.556875-5.3432 1.7025-1.6219 1.71844-1.4779 4.34719-1.3115 7.39125.0542.99755.1112 2.02785.1112 3.09375 0 2.7516.4842 3.6516 1.3396 5.0044.1626.2568.3402.5381.53.8681v10.065H6.54348C.0747825 28.125 0 38.0166 0 38.4375c0 .5184.418783.9375.934783.9375H42.0652c.517 0 .9348-.4191.9348-.9375 0-.4209-.0738-10.3125-6.5435-10.3125zM1.91444 37.5c.16545-2.1994.9488-7.5 4.62904-7.5H17.7609c.516 0 .9348-.4191.9348-.9375v-11.25c0-.1594-.0402-.3169-.1178-.4566-.2552-.4593-.4908-.8325-.703-1.1681-.6983-1.1044-1.0488-1.6584-1.0488-4.0003 0-1.1175-.058-2.1741-.1141-3.19687-.143-2.61188-.2664-4.8675.8021-5.99907C18.2236 2.24062 19.5276 1.875 21.5 1.875s3.2764.36562 3.9859 1.11656c1.0685 1.1325.9451 3.38719.8021 5.99907-.0561 1.02277-.1141 2.07937-.1141 3.19687 0 2.3419-.3505 2.8959-1.0488 4.0012-.2122.3357-.4478.7079-.702 1.1682-.0776.1387-.1188.2962-.1188.4556v11.25c0 .5184.4179.9375.9348.9375h11.2174c3.6709 0 4.4599 5.3006 4.6281 7.5H1.91444z')
            figcaption.advantages__item-caption
              h3.advantages__item-title 10% скидка при покупке от 3 штук
        .col-12.col-md-4
          figure.advantages__item
            .advantages__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 44', width='50', height='44')
                path(d='M9.07557 20.0494l-.96534-2.9492-.96478 2.9492H4.02216l2.52613 1.8226-.96477 2.9485 2.52671-1.822 2.52667 1.822-.96531-2.9485 2.52671-1.8226H9.07557zM13.7949 24.8205l2.5267-1.822 2.5261 1.822-.9642-2.9485 2.5256-1.8226h-3.1227l-.9648-2.9492-.9654 2.9492h-3.1227l2.5267 1.8226-.9653 2.9485zM22.3176 24.8205l2.5273-1.822 2.5255 1.822-.9642-2.9485 2.5256-1.8226h-3.1227l-.9642-2.9492-.9659 2.9492h-3.1228l2.5262 1.8226-.9648 2.9485zM33.3676 17.1002l-.9659 2.9492h-3.1228l2.5262 1.8226-.9648 2.9485 2.5273-1.822 2.5255 1.822-.9642-2.9485 2.5256-1.8226h-3.1227l-.9642-2.9492zM42.8546 20.0494l-.9643-2.9492-.9659 2.9492h-3.1227l2.5261 1.8226-.9647 2.9485 2.5272-1.822 2.5256 1.822-.9642-2.9485 2.5256-1.8226h-3.1227z')
                path(d='M47.7273 11.2821h-5.4239L25.4778.145539c-.0005-.000564-.0017-.001129-.0028-.001693l-.0023-.001692s-.0005 0-.0005-.000564c-.0228-.014667-.0472-.02482-.0705-.037231-.0244-.012974-.0483-.028205-.0744-.0389229-.0017-.0005641-.004-.0016922-.0057-.0022563-.0159-.0067692-.033-.0095897-.0489-.0146667-.0119-.0039487-.0238-.0078977-.0363-.0112823-.0228-.0062051-.0438-.0152309-.0671-.0203079-.0017 0-.0034-.0005637-.0057-.0005637-.0267-.005077-.0539-.0056413-.0812-.00846179C25.0551.00507689 25.0284 0 25.0011 0h-.0022c-.0273 0-.0546.00507689-.0819.00789741-.0267.00282049-.0539.00282069-.0806.00846179-.0017 0-.004.000564-.0063.0011281-.0142.0028205-.0273.0090256-.0409.0118461-.0244.0062051-.0489.0135382-.0727.0219998-.0125.0039487-.025.0062054-.0375.0112823-.0023.0011282-.0051.0022562-.0074.0033844-.0176.0073333-.0335.0180512-.0506.0265128-.0318.0157953-.0642.0304613-.0943.0507693l-.0011.000564c-.0012.000564-.0017.001129-.0029.001693L7.69659 11.2821H2.27273C1.01932 11.2821 0 12.2941 0 13.5385v28.2051C0 42.988 1.01932 44 2.27273 44H47.7273C48.9807 44 50 42.988 50 41.7436V13.5385c0-1.2444-1.0193-2.2564-2.2727-2.2564zM24.1477 2.42734v1.23933c0 .46764.3813.84616.8523.84616s.8523-.37852.8523-.84616V2.42734l13.3784 8.85476H10.7693l13.3784-8.85476zM48.2955 41.7436c0 .3114-.2546.5641-.5682.5641H2.27273c-.31307 0-.56818-.2527-.56818-.5641V13.5385c0-.3108.25511-.5641.56818-.5641H47.7273c.3136 0 .5682.2533.5682.5641v28.2051z')
                path(fill='#A8D0DA', d='M36.3637 31.0257H13.6364c-.471 0-.8523.3791-.8523.8462 0 .467.3813.8461.8523.8461h22.7273c.4704 0 .8522-.3791.8522-.8461 0-.4671-.3818-.8462-.8522-.8462zM32.1023 35.2565H17.8977c-.471 0-.8522.379-.8522.8461 0 .4671.3812.8462.8522.8462h14.2046c.4704 0 .8523-.3791.8523-.8462 0-.4671-.3819-.8461-.8523-.8461z')
            figcaption.advantages__item-caption
              h3.advantages__item-title Постоянным клиентам скидки
      .advantages__cover
        img(src='https://images.unsplash.com/photo-1571624436279-b272aff752b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80', alt='')

  section.work-examples
    .container
      h2.work-examples__title Примеры работ
      .row
        .col-12.col-md-4
          a.work-examples__thumb(href='https://images.unsplash.com/photo-1562330046-f1760d62a90f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80')
            img(src='https://images.unsplash.com/photo-1562330046-f1760d62a90f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80', alt='/')
        .col-12.col-md-4
          a.work-examples__thumb(href='https://images.unsplash.com/photo-1523473979815-e7b44c446974?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80')
            img(src='https://images.unsplash.com/photo-1523473979815-e7b44c446974?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80', alt='/')
        .col-12.col-md-4
          a.work-examples__thumb(href='https://images.unsplash.com/photo-1594497205493-d9f49ace96ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80')
            img(src='https://images.unsplash.com/photo-1594497205493-d9f49ace96ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80', alt='/')

  section.clients
    .container
      .clients__header
        .row
          .col
            h2.clients__title Кто у нас уже заказал
          .col-auto
            button.clients__slider-nav-btn.clients__slider-nav-btn--prev
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 6 10', width='6', height='10')
                path(d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z')
            button.clients__slider-nav-btn.clients__slider-nav-btn--next
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 6 10', width='6', height='10')
                path(d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z')
      .clients__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .clients__item
                img(src='img/sber.svg', alt='')
            .swiper-slide
              .clients__item
                img(src='img/moscow.svg', alt='')
            .swiper-slide
              .clients__item
                img(src='img/hands.svg', alt='')
            .swiper-slide
              .clients__item
                img(src='img/rg.svg', alt='')
            .swiper-slide
              .clients__item
                img(src='img/sber.svg', alt='')
            .swiper-slide
              .clients__item
                img(src='img/moscow.svg', alt='')
          .clients__slider-pagination

  section.stamps
    .container
      h2.stamps__title Оснастки
      ul.stamps__list.row
        li.stamps__item.col.col-12.col-sm-6.col-lg-4
          +product-card({
            image: 'https://partner.colop.com/media/catalog/product/cache/1/thumbnail/1000x/a20e43296770395966b06091303ba000/product-images-baseshop/122256_en___COLOP-mini-info-S120-W.jpg',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })
        li.stamps__item.col.col-12.col-sm-6.col-lg-4
          +product-card({
            image: 'https://partner.colop.com/media/catalog/product/cache/1/thumbnail/1000x/a20e43296770395966b06091303ba000/product-images-baseshop/122256_en___COLOP-mini-info-S120-W.jpg',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })
        li.stamps__item.col.col-12.col-sm-6.col-lg-4
          +product-card({
            image: 'https://partner.colop.com/media/catalog/product/cache/1/thumbnail/1000x/a20e43296770395966b06091303ba000/product-images-baseshop/122256_en___COLOP-mini-info-S120-W.jpg',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })

  .advantages
    .container
      .row
        .col-12.col-md-4
          figure.advantages__item
            .advantages__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 51 38', width='51', height='38')
                path(d='M48.614 0H15.807c-1.3159 0-2.386 1.08209-2.386 2.41269V35.5871c0 1.3306 1.0701 2.4127 2.386 2.4127h32.807c1.3159 0 2.386-1.0821 2.386-2.4127V2.41269C51 1.08209 49.9299 0 48.614 0zM37.2807 1.80951v5.12696c0 .33235-.2672.60317-.5965.60317h-8.9474c-.3292 0-.5965-.27082-.5965-.60317V1.80951h10.1404zM27.1403 36.1903v-5.127c0-.3329.2673-.6031.5965-.6031h8.9474c.3293 0 .5965.2702.5965.6031v5.127H27.1403zm22.0702-.6032c0 .333-.2672.6032-.5965.6032h-9.5438v-5.127c0-1.3306-1.0701-2.4127-2.386-2.4127h-8.9474c-1.3158 0-2.3859 1.0821-2.3859 2.4127v5.127H15.807c-.3287 0-.5965-.2702-.5965-.6032V2.41269c0-.33235.2678-.60318.5965-.60318h9.5439v5.12696c0 1.3306 1.0701 2.41269 2.3859 2.41269h8.9474c1.3159 0 2.386-1.08209 2.386-2.41269V1.80951h9.5438c.3293 0 .5965.27083.5965.60318V35.5871zM11.3333 12.0635H.894737C.400246 12.0635 0 12.4682 0 12.9682c0 .5001.400246.9048.894737.9048H11.3333c.4945 0 .8948-.4047.8948-.9048 0-.5-.4003-.9047-.8948-.9047zM11.3333 18.0952H3.87719c-.49449 0-.89474.4047-.89474.9048 0 .5.40025.9047.89474.9047h7.45611c.4945 0 .8948-.4047.8948-.9047 0-.5001-.4003-.9048-.8948-.9048zM11.3333 24.127H6.85965c-.49449 0-.89474.4053-.89474.9047 0 .4994.40025.9048.89474.9048h4.47365c.4945 0 .8948-.4054.8948-.9048 0-.4994-.4003-.9047-.8948-.9047z')
                path(d='M44.1403 24.127h-7.4561c-.4939 0-.8947.4053-.8947.9047 0 .4994.4008.9048.8947.9048h7.4561c.4939 0 .8948-.4054.8948-.9048 0-.4994-.4009-.9047-.8948-.9047zM43.282 16.852c-.3495-.3535-.9156-.3535-1.2652 0l-1.4912 1.5079c-.0501.0507-.0775.1134-.1127.1719-.0358-.0585-.0627-.1212-.1128-.1719l-1.4912-1.5079c-.3495-.3535-.9156-.3535-1.2651 0l-1.4913 1.5079c-.3495.3529-.3495.9265 0 1.2794.1748.1767.4039.2648.6329.2648.2147 0 .4265-.0851.5965-.2407v2.3524c0 .4994.4008.9047.8947.9047.4939 0 .8948-.4053.8948-.9047V19.664c.17.1562.3817.2407.5965.2407.229 0 .4581-.0881.6328-.2648.0501-.0507.0776-.1134.1128-.1719.0358.0585.0626.1212.1127.1719.1748.1767.4038.2648.6329.2648.2147 0 .4265-.0851.5965-.2407v2.3518c0 .4994.4008.9047.8947.9047.4939 0 .8948-.4053.8948-.9047V19.664c.17.1562.3817.2407.5964.2407.2291 0 .4582-.0881.6329-.2648.3496-.3529.3496-.9265 0-1.2794L43.282 16.852z')
            figcaption.advantages__item-caption
              h3.advantages__item-title Доставим до любого адреса
        .col-12.col-md-4
          figure.advantages__item
            .advantages__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 46 38', width='46', height='38')
                path(d='M19.7798 29.6257L35.7796 9.62524l-1.5618-1.2494L18.218 28.3763l1.5618 1.2494zM20 18c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.102 0 2 .896 2 2s-.898 2-2 2c-1.102 0-2-.896-2-2s.898-2 2-2zM30 24c0 2.206 1.794 4 4 4s4-1.794 4-4-1.794-4-4-4-4 1.794-4 4zm6 0c0 1.104-.898 2-2 2-1.102 0-2-.896-2-2s.898-2 2-2c1.102 0 2 .896 2 2z')
                path(d='M0 0v16.128l.498.29C1.438 16.966 2 17.932 2 19c0 1.068-.562 2.034-1.502 2.582l-.498.29V38h46V0H0zm44 36H10v-7H8v7H2V22.978c1.246-.94 2-2.416 2-3.978 0-1.562-.754-3.04-2-3.978V2h6v7h2V2h34v34z')
            figcaption.advantages__item-caption
              h3.advantages__item-title 10% скидка при покупке от 3 штук
        .col-12.col-md-4
          figure.advantages__item
            .advantages__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 50', width='52', height='50')
                path(d='M49.6626 27.3352h-.4342c-.4767 0-1.1346-.4022-1.3537-.8272-.2536-.492-6.3148-12.0358-15.9541-12.0358-10.029 0-21.1365 5.4692-23.00151 13.1037-.1706.1608-.27811.3874-.27811.6405 0 2.1745-1.7604 3.9434-3.92454 3.9434-1.6342 0-2.964-1.3356-2.964-2.9783 0-1.2164.98508-2.2068 2.19569-2.2068.87231 0 1.5822.7133 1.5822 1.5892 0 .4861.39204.8806.8764.8806.48436 0 .87641-.3945.87641-.8806 0-1.8469-1.49632-3.3505-3.33501-3.3505-2.17757 0-3.94849621 1.7801-3.94849621 3.9681 0 2.6131 2.11622621 4.7395 4.71680621 4.7395 1.69263 0 3.21115-.7526 4.25173-1.9379.89101 3.1931 3.30283 6.3152 3.42793 6.4749.3739.4785.7145 1.4701.7145 2.0795v7.1142c0 1.2951 1.0482 2.3484 2.3371 2.3484h3.0382c1.2889 0 2.3371-1.0533 2.3371-2.3484v-3.523c0-.239.104-.239.1595-.239.0386 0 .0818.0071.1291.02.1806.0516 4.465 1.2663 7.7743 1.2663 2.1139 0 4.5211-.307 4.6222-.32.2664-.0369.461.1321.461.4069v2.3882c0 1.2952 1.0482 2.3484 2.337 2.3484h3.0377c1.2889 0 2.337-1.0532 2.337-2.3484v-4.1888c0-.5143.4009-1.2722.8245-1.5605l5.1322-5.3976.1104-.145c.2618-.4274.981-.8307 1.48-.8307h.4347c1.2889 0 2.337-1.0533 2.337-2.3484v-3.4966c0-1.2957-1.0481-2.3483-2.337-2.3483zm.5842 5.8449c0 .3182-.2676.5871-.5842.5871h-.4342c-1.0785 0-2.3131.6746-2.9184 1.584l-1.5465 1.6356c-.0135-.0006-.0269-.0041-.0404-.0041-2.264 0-3.654-.5319-3.9309-.8319-.0514-.4374-.4213-.7761-.87-.7761-.4838 0-.8764.3945-.8764.8806 0 1.4031 1.8983 2.1728 4.1319 2.4094l-1.7393 1.8393c-.8665.6393-1.5104 1.8904-1.5104 2.9589v4.1888c0 .3182-.2676.5871-.5842.5871h-3.0377c-.3166 0-.5842-.2689-.5842-.5871v-2.3882c0-1.2188-.9407-2.1734-2.1425-2.1734-.0964 0-.1946.0065-.2939.0188-.024.0035-2.3973.3059-4.3996.3059-3.0627 0-7.2525-1.1865-7.294-1.1989-.2033-.0587-.4078-.0874-.6088-.0874-1.0903 0-1.9123.86-1.9123 2.0002v3.523c0 .3182-.2676.5871-.5843.5871h-3.0382c-.3167 0-.5843-.2689-.5843-.5871v-7.1148c0-1.0104-.468-2.3718-1.0879-3.1667-.9406-1.2059-3.3817-4.9116-3.3817-7.5464 0-7.6544 11.572-13.591 21.5268-13.591 8.5689 0 14.3403 10.9744 14.3976 11.0842.5229 1.0144 1.7738 1.7788 2.9102 1.7788h.4336c.3166 0 .5842.2689.5842.5871v3.4972zM27.1196 11.4088c3.13 0 5.6774-2.55911 5.6774-5.70412C32.797 2.55909 30.2502 0 27.1196 0c-3.1305 0-5.6767 2.55909-5.6767 5.70468 0 3.14501 2.5468 5.70412 5.6767 5.70412zm0-9.64755c2.1642 0 3.9246 1.76888 3.9246 3.94343 0 2.17456-1.7604 3.94285-3.9246 3.94285-2.1641 0-3.9239-1.76888-3.9239-3.94285 0-2.17396 1.7598-3.94343 3.9239-3.94343z')
                path(d='M39.9217 28.2158c.8838 0 1.6003-.7199 1.6003-1.608 0-.8881-.7165-1.608-1.6003-1.608-.8839 0-1.6003.7199-1.6003 1.608 0 .8881.7164 1.608 1.6003 1.608zM31.7764 17.6993l-9.6013 1.608c-.4774.0799-.7999.5337-.7204 1.0133.0712.431.4428.7356.8635.7356.0479 0 .0964-.0035.1455-.0123l9.6019-1.608c.4767-.0798.7998-.5337.7198-1.0133-.0795-.4796-.5311-.8049-1.009-.7233z')
                path(d='M39.1457 24.4126c.4838 0 .8764-.3939.8764-.8806 0-.4867-.3926-.8806-.8764-.8806-1.2889 0-2.3371 1.0532-2.3371 2.3483 0 .4867.3926.8806.8764.8806.4838 0 .8764-.3939.8764-.8806 0-.3235.2618-.5871.5843-.5871z')
            figcaption.advantages__item-caption
              h3.advantages__item-title Постоянным клиентам скидки
    .advantages__cover
      img(src='https://images.unsplash.com/photo-1564069114553-7215e1ff1890?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80', alt='')

  +seo()

block page-bottom
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/jquery-migrate@3/dist/jquery-migrate.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/js/lightgallery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-thumbnail.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-fullscreen.min.js')
  script(src='https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js')
  script(src='js/script.js')

  script.
    $('.work-examples').lightGallery({
      selector: 'a',
      mode: 'lg-fade',
      cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      thumbnail: true,
      animateThumb: false,
      showThumbByDefault: false
    });