extends ../pug/layout.pug

block meta
  - var title = 'Inner';
  title= title
  meta(name='description', content='')

block content
  section.stamps
    .container
      h2.stamps__title Заголовок
      ul.stamps__list.row
        li.stamps__item.col.col-12.col-sm-6.col-lg-3
          +product-card({
            image: 'img/sign-example-1.png',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })
        li.stamps__item.col.col-12.col-sm-6.col-lg-3
          +product-card({
            image: 'img/sign-example-2.png',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })
        li.stamps__item.col.col-12.col-sm-6.col-lg-3
          +product-card({
            image: 'img/sign-example-3.png',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })
        li.stamps__item.col.col-12.col-sm-6.col-lg-3
          +product-card({
            image: 'img/sign-example-4.png',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })

  section.stamps
    .container
      h2.stamps__title Выберите оснастку
      ul.stamps__list.row
        li.stamps__item.col.col-12.col-sm-6.col-lg-4
          +product-card({
            image: 'https://partner.colop.com/media/catalog/product/cache/1/thumbnail/1000x/a20e43296770395966b06091303ba000/product-images-baseshop/122256_en___COLOP-mini-info-S120-W.jpg',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })
        li.stamps__item.col.col-12.col-sm-6.col-lg-4
          +product-card({
            image: 'https://partner.colop.com/media/catalog/product/cache/1/thumbnail/1000x/a20e43296770395966b06091303ba000/product-images-baseshop/122256_en___COLOP-mini-info-S120-W.jpg',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })
        li.stamps__item.col.col-12.col-sm-6.col-lg-4
          +product-card({
            image: 'https://partner.colop.com/media/catalog/product/cache/1/thumbnail/1000x/a20e43296770395966b06091303ba000/product-images-baseshop/122256_en___COLOP-mini-info-S120-W.jpg',
            title: 'Colop Printer 55',
            price: 'От 500 ₽'
          })

  .checkout
    form.checkout__form
      section.checkout__section
        h2.checkout__section-title Данные для изготовления печати
        +field-text({
          title: 'Организационно-правовая форма',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'Название (для ИП — ФИО полностью)',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'ОГРН (ОГРНИП)',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'ИНН',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'Адрес регистрации',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'Дополнительные реквизиты (при необходимости)',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        .checkout__attach-file
          +field-file({
            title: 'Название',
            helpText: 'Подсказка',
            mods: '',
            attrs: {
              name: 'commentFile',
              multiple: true,
            },
            text: {
              selectText: 'Прикрепить реквизиты',
              flesSelectedText: 'Выбрано файлов:',
            },
          })

      section.checkout__section
        h2.checkout__section-title Варианты оплаты
        +field-radio([
          {
            title: 'Наличный расчет',
            mods: '',
            attrs: {
              name: 'payment',
              checked: true,
              id: 'payment-1'
            }
          },
          {
            title: 'Счет на юридическое лицо',
            mods: '',
            attrs: {
              name: 'payment',
              id: 'payment-2'
            }
          },
          {
            title: 'Перевод на банковскую карту',
            mods: '',
            attrs: {
              name: 'payment',
              id: 'payment-3'
            }
          }
        ])
      section.checkout__section
        h2.checkout__section-title Данные для изготовления печати
        +field-text({
          title: 'Контактное лицо',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'Контактный телефон',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'E-mail',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'Адрес доставки (заполняется в случае доставки)',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
        +field-text({
          title: 'Комментарий к заказу',
          mods: '',
          val: '',
          attrs: {
            name: 'name',
            placeholder: '***'
          }
        })
      section.checkout__section
        h2.checkout__section-title Время изготовления
        +field-radio([
          {
            title: 'День в день (500 руб.)',
            mods: '',
            attrs: {
              name: 'speed',
              checked: true,
              id: 'fast'
            }
          },
          {
            title: '1-2 дня — дополнительная оплата не взимается',
            mods: '',
            attrs: {
              name: 'speed',
              id: 'usual'
            }
          }
        ])
      .checkout__total
        .checkout__total-items
          button.checkout__total-items-btn(type='button', data-toggle='collapse', data-target='#total-items', aria-expanded='false', aria-controls='total-items')
            span Корзина (7 товаров)
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 11 7', width='11', height='7')
              path(d='M0 1.21895L1.15969 0 5.5 4.5621 9.84031 0 11 1.21895 5.5 7 0 1.21895z')
          .collapse(id='total-items')
            .checkout__total-items-list
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        .checkout__total-price
          span.checkout__total-price-subtitle Итого
          span.checkout__total-price-result 2 499 ₽

      .checkout__actions
        button.checkout__submit(type='submit'): span Оформить заказ

  +seo()