extends ../pug/layout.pug

block meta
  - var title = 'Payment and Delivery';
  title= title
  meta(name='description', content='')

block content
  .payment-and-delivery
    .container
      h1.payment-and-delivery__title Доставка и оплата

      section.payment-and-delivery__section
        h2.payment-and-delivery__section-title Самовывоз
        ul.payment-and-delivery__list.row
          li.payment-and-delivery__item.col-12.col-md-6.col-lg-6
            h3.payment-and-delivery__term Адрес
            span.payment-and-delivery__desc Москвовская обл, Одинцовский раон, т. Малые Вязом, Петровский пр-д, владение 5, стр 2, оф. 222, БЦ Мадекс
          li.payment-and-delivery__item.col-12.col-md-6.col-lg-2
            h3.payment-and-delivery__term Режим работы
            span.payment-and-delivery__desc
              | Пн-Пт с 9:00 до 18:00
              br
              | Сб: с 10:00 до 17:00
          li.payment-and-delivery__item.col-12.col-md-6.col-lg-2
            h3.payment-and-delivery__term Стоимость
            span.payment-and-delivery__desc Бесплатно
          li.payment-and-delivery__item.col-12.col-md-6.col-lg-2
            h3.payment-and-delivery__term Заголовок
            span.payment-and-delivery__desc Прием заказов онлайн круглосуточно

      section.payment-and-delivery__section
        h2.payment-and-delivery__section-title Доставка
        ul.payment-and-delivery__list.row
          li.payment-and-delivery__item.col-12.col-md-6
            h3.payment-and-delivery__term По Москве
            span.payment-and-delivery__desc Доставка ко времени
          li.payment-and-delivery__item.col-12.col-md-6
            h3.payment-and-delivery__term Доставка за МКАД
            span.payment-and-delivery__desc От 300 ₽

      section.payment-and-delivery__section
        h2.payment-and-delivery__section-title Способы оплаты
        ul.payment-and-delivery__list.row
          li.payment-and-delivery__item.col-12.col-md-6
            h3.payment-and-delivery__term По Москве
            span.payment-and-delivery__desc
              | Курьеру наличными
              br
              | Безналичный (оплата по счету)
              br
              | Картой онлайн перевод