mixin field-file(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-file--' + modsList[i].trim();
      }
    }
    var selectText = 'Выберите файл(ы)';
    var nothingText = '';
    var flesSelectedText = 'Выбрано файлов: {count}';
    if (typeof(props.text) !== 'undefined' && props.text !== '') {
      if (typeof(props.text.selectText) !== 'undefined') selectText = props.text.selectText;
      if (typeof(props.text.nothingText) !== 'undefined') nothingText = props.text.nothingText;
      if (typeof(props.text.flesSelectedText) !== 'undefined') flesSelectedText = props.text.flesSelectedText + ' {count}';
    }

  .field-file(class=allMods)&attributes(attributes)

    label.field-file__input-wrap
      input.field-file__input(type='file', data-multiple-caption=flesSelectedText)&attributes(props.attrs)

      span.field-file__name-text(data-button-text=selectText)= nothingText

      block