.field-file {
  display: block;

  &__input-wrap {
    display: block;
    position: relative;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__name-text {
    display: flex;
    align-items: baseline;
    position: relative;
    width: 100%;
    border-radius: $border-radius;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
    font-size: ms(-1);
    font-weight: 600;

    &::before {
      content: attr(data-button-text);
      display: block;
      background-color: $primary-color;
      margin-right: 0.75rem;
      line-height: 1.4em;
      padding: 0.5rem 1rem;
      color: #fff;
      border-radius: $border-radius;
    }

    &:hover,
    &:focus {

      &::before {
        // background-color: darken($gray-lightest, 10%);
      }
    }
  }
}