mixin product-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';

    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-card--' + modsList[i].trim();
      }
    }

  .product-card(class=allMods)&attributes(attributes)
    .product-card__cover
      img(src=props.image, alt='')
    .product-card__info
      .product-card__desc
        h3.product-card__title!= props.title
        span.product-card__price!= props.price
      a.product-card__add-to-basket(href='/')
        +svg-icon('shopping-cart', 15, 15)
