.product-card {
  background-color: #fff;
  transition: 0.5s $transition-timing--linear;
  border-radius: $border-radius;

  &:hover {
    box-shadow:
      0 15px 30px -10px rgba($text-color, 0.1),
      0 10px 20px -15px rgba(0, 0, 0, 0.3);
  }

  &__cover {
    width: 100%;
    height: 300px;
    padding: 1rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1.5rem;
  }

  &__desc {
    padding-right: 0.5rem;
  }

  &__title {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    margin: 0;
  }

  &__price {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 400;
    display: inline-block;
    font-variant-numeric: lining-nums;
  }

  &__add-to-basket {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    background-color: $bg-color--shade;
    color: $text-color;
    display: block;
    flex: 0 0 50px;
    max-width: 50px;
    transition: 0.5s $transition-timing--linear;

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      fill: #text-color;
      transition: 0.25s $transition-timing--linear;
    }

    &:hover,
    &:focus {
      background-color: $accent-color;

      svg {
        fill: #fff;
      }
    }
  }
}