mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__top
      .container
        .row
          .col-12.col-xs-12.col-lg-3
            .row
              .col-12
                +logo('index.html').page-footer__logo
              .col-12
                +btn('Заказать звонок')(type='button', data-toggle='modal', data-target='#getCalls').page-footer__get-a-call-btn
          .col-12.col-sm-6.col-md-3.col-lg-2
            ul.page-footer__list.page-footer__list--stamps
              li: a(href='inner.html') Печати
              li: a(href='/') Для ИП
              li: a(href='/') Для ООО
              li: a(href='/') Круглые
              li: a(href='/') Для врачей
          .col-12.col-sm-6.col-md-3.col-lg-2
            ul.page-footer__list
              li: a(href='/') По оттиску
              li: a(href='/') Штампы
              li: a(href='/') Ручные и карманные
              li: a(href='payment-and-delivery.html') Доставка и оплата
              li: a(href='contacts.html') Контакты
          .col-12.col-sm-6.col-md-3.col-lg-3
            ul.page-footer__list
              li: a(href='tel:+74954241258')
                +svg-icon('phone', 12, 12)
                span +7 (495) 424-12-58
              li: a(href='mailto:info@sgillo.ru')
                +svg-icon('email', 12, 12)
                span info@sgillo.ru
              li: address
                +svg-icon('location', 12, 12)
                span Москва, пер. Столовый, д. 11
          .col-12.col-sm-6.col-md-3.col-lg-2
            +social()
    .page-footer__bottom
      .container
        span.page-footer__copyright © 2020 — Sgillo.

