.page-footer {
  background-color: $primary-color;
  color: #fff;

  &__top {
    padding: 1.5rem 0;

    @media only screen and (min-width: $screen-md) {
      padding: 3rem 0 4.5rem;
    }
  }

  &__bottom {
    padding: 0.75rem 0;
    border-top: 1px solid rgba(#fff, 0.125);

    @media only screen and (min-width: $screen-md) {
      padding: 1rem 0;
    }
  }

  &__logo {
    margin-bottom: 0.75rem;

    svg {
      fill: #fff;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    font-variant-numeric: lining-nums;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
      }

      a {
        color: currentColor;
        display: inline-block;
      }
    }

    &--stamps {

      li {

        &:not(:first-child) {
          font-weight: 400;
        }
      }
    }
  }

  &__copyright {
    font-size: ms(-2);
    line-height: 1.4em;
    font-weight: 500;
    opacity: 0.5;
    display: block;
  }
}
