.contacts {
  @include section-padding;

  &__title {
    @include section-title;
  }

  &__subtitle {
    font-size: ms(-2);
    line-height: 1.4em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.075em;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 1.5rem;
  }

  &__address {
    font-size: ms(0);
    line-height: 1.4em;
    font-weight: 600;
    font-variant-numeric: lining-nums;
  }

  &__link {
    font-size: ms(0);
    line-height: 1.4em;
    font-weight: 600;
    text-decoration: none;
    color: $text-color;
    font-variant-numeric: lining-nums;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $accent-color;
    }
  }

  &__route-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__route-item {
    margin-right: 0.5rem;
    padding: 0;
    display: inline-block;
  }

  &__route-link {
    display: inline-block;
  }

  &__cover {
    width: 100%;
    height: 300px;

    @media only screen and (min-width: $screen-sm) {
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}