.advantages {
  padding: 2.25rem 1rem;
  background-color: $primary-color;
  color: #fff;
  position: relative;

  @media only screen and (min-width: $screen-sm) {
    padding: 3rem 1rem;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0.75rem;
    z-index: 2;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__item-icon {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    flex: 0 0 60px;
    max-width: 60px;

    @media only screen and (min-width: $screen-sm) {
      margin-right: 1.5rem;
    }

    svg {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%,-60%,0);
      fill: #a8d0da;
    }
  }

  &__itemcaption {
    padding-right: 1.5rem;
  }

  &__item-title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 600;
    margin: 0;
    max-width: 12.5rem;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      opacity: 0.9;
    }
  }
}