.payment-and-delivery {
  @include section-padding;

  &__title {
    @include section-title;
  }

  &__section {
    padding: 1.5rem 1rem;
    background-color: $bg-color--shade;

    & + & {
      margin-top: 1.5rem;
    }

    @media only screen and (min-width: $screen-sm) {
      padding: 2.25rem 3rem;
    }
  }

  &__section-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.4em;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 1.5rem;
    padding-right: 1.5rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__term {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
  }
}