.stamps {
  @include section-padding;
  background-color: $bg-color--shade;

  & + & {
    border-top: 1px solid $border-color;
  }

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
  }

  &__list {
    list-style: none;
  }

  &__item {

    @media only screen and (max-width: ($screen-md - 1)) {

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}