.checkout {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  padding: 1.5rem 1rem;
  background-color: #e9eff1;

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem;
  }

  &__form {

    .field-text {

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }

    @media only screen and (min-width: $screen-sm) {

      .field-text {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }

      .field-text__name {
        flex: 0 0 30%;
        max-width: 30%;
        padding-right: 1.5rem;
      }

      .field-text__input-wrap {
        flex: 0 0 70%;
        max-width: 70%;
      }
    }
  }

  &__section {
    margin-bottom: 2.25rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }

  &__section-title {
    @include section-title;
  }

  &__attach-file {
    margin-top: 1.5rem;
  }

  &__total {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1.5rem;
    position: sticky;
    bottom: 1.5rem;
    z-index: 100;

    @media only screen and (min-width: $screen-sm) {
      padding: 1.5rem 2.25rem;
    }
  }

  &__total-items {
    border-bottom: 1px solid $border-color;
    padding-bottom: 1.5rem;
  }

  &__total-items-btn {
    display: block;
    border: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    font-size: .70721em;
    line-height: 1.4em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    svg {
      transition: transform 0.5s cubic-bezier(0.8, 0, 0, 1.4);
    }

    &[aria-expanded='true'] {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__total-items-list {
    padding-top: 1.5rem;
    font-size: .70721em;
    line-height: 1.4em;
  }

  &__total-price {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 1.25rem;
  }

  &__total-price-subtitle {
    font-size: .70721em;
    line-height: 1.4em;
    font-weight: 600;
  }

  &__total-price-result {
    font-size: ms(0);
    line-height: 1.2em;
    font-weight: 700;
    font-variant-numeric: lining-nums;
  }

  &__submit {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90px;
    margin: 0;
    border-radius: $border-radius;
    border: 0;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    text-align: center;
    font-size: ms(-1);
    font-family: inherit;
    line-height: 1.4em;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    background-color: $accent-color;
    background-image: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: darken($accent-color, 5%);
      z-index: 1;
      will-change: transform;
      transform: scaleY(0);
      transition: transform 0.5s $transition-timing--linear;
      transform-origin: center bottom;
      z-index: 1;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;

      &::before {
        transform: scaleX(1);
        transform-origin: center top;
      }
    }

    &--disabled,
    &:disabled {
      opacity: $opacity;
      cursor: not-allowed;

      @at-root a.btn--disabled {
        pointer-events: none;
      }
    }
  }
}