.clients {
  @include section-padding;
  background-color: $bg-color--shade;
  border-bottom: 1px solid $border-color;

  &__header {
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
  }

  &__item {
    background-color: #fff;
    height: 150px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      display: block;
      width: auto;
      max-height: 30px;
    }
  }

  &__slider-nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    border: 2px solid $text-color;
    color: $text-color;
    transition: 0.5s $transition-timing--linear;
    pointer-events: all;
    background-color: transparent;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    &[aria-disabled='true'] {
      opacity: 0.25;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.1);
    }

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      fill: currentColor;
    }

    &--prev {
      margin-right: 0.25rem;

      svg {
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg);
      }
    }
  }

  &__slider-pagination {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;

    .swiper-pagination-bullet-active {
      background-color: $text-color;
    }

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}